In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tata-online-data-set/Online Retail Data Set.xlsx

# *Data cleaning*

In [2]:
import pandas as pd

# File path (replace this with Kaggle's path after uploading)
file_path = "/kaggle/input//tata-online-data-set/Online Retail Data Set.xlsx"

# Load the dataset
df = pd.read_excel(file_path, sheet_name="Online Retail")

# View first few rows
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# Step 3.2: Inspect the Data

In [3]:
# Check dataset info
df.info()

# Check missing values
print(df.isnull().sum())

# Check basic statistics
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

# Remove Negative & Zero Values

In [4]:
df = df[df["Quantity"] > 0]   # Remove returns
df = df[df["UnitPrice"] > 0]  # Remove invalid prices

# Convert Date Column to Datetime

In [5]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

# Filter Data for 2011 Only

In [6]:
df = df[df["InvoiceDate"].dt.year == 2011]

# Handle Missing Customer IDs

In [7]:
df["CustomerID"].fillna(0, inplace=True)

<ipython-input-7-b81759ab96de>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["CustomerID"].fillna(0, inplace=True)

# Create a New Column for Revenue

In [8]:
df["Revenue"] = df["Quantity"] * df["UnitPrice"]
# Check basic statistics
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue
count,488624.000000,488624,488624.000000,488624.000000,488624.000000
mean,10.701760,2011-07-22 08:15:56.926470912,3.830232,11622.862459,20.144198
min,1.000000,2011-01-04 10:00:00,0.001000,0.000000,0.001000
25%,1.000000,2011-04-26 09:42:15,1.250000,12431.000000,3.900000
50%,4.000000,2011-08-05 17:12:00,2.080000,14412.000000,9.900000
75%,12.000000,2011-10-25 13:14:00,4.130000,16279.000000,17.700000
max,80995.000000,2011-12-09 12:50:00,11062.060000,18287.000000,168469.600000
std,161.630065,NaN,31.394297,6686.305651,280.166359

# Save the Cleaned Data

In [9]:
df.to_csv("/kaggle/working/Cleaned_Online_Retail.csv", index=False)
print("Data cleaning completed!")

Data cleaning completed!